.boton{
    background-color: #d16f7b;
    color: white;
    font-size: medium;
    border: #d16f7b;
    margin: 10px;
    padding: 7px;
}
.seguirComprando{
    text-decoration: none;
    background-color: #d16f7b;
    color: white;
    font-size: medium;
    border: #d16f7b;
    margin: 10px;
    padding: 7px;
}
.finalizar{
    text-decoration: none;
    background-color: #d16f7b;
    color: white;
    font-size: medium;
    border: #d16f7b;
    margin: 10px;
    padding: 7px;
}