.navBar{
    font-family:'Courier New', Courier, monospace;
    font-size:xx-large;
    display: flex;
}
.logo{
    width: 15%;
    margin-left: 5%;

}
.navbar-collapse{
    align-items: center;
    flex-direction: column;
}
.nav-link{
    font-family:'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
}